.root{
  --primary:3005BAC;
  --dark:#1111;
  --light:#f5f5f5;
}
.cap{
   text-align: center;
}
 .div{
     position:absolute;
    top: 0;
    padding:8px;
    margin:5px;
   display: flex;
   justify-content: right;
   width: 94%;
} 
.nav{
  margin-left: 100px;
  margin-right: 100px;
   padding: 5px 5px;
 border: 1px solid black;
 text-align: center;
 background-color:rgb(247, 209, 215);
}
.a{
  color: black;
  display: inline-block;
    padding: 5px 55px;

}
.a:hover{
    transform:scale(1.6);
    transition:0.3s;
    color: aqua; 
}
.a:active{
  color:#8a2be2;
}
.ham{
    position: absolute;
    top: 0;
    padding: 5px;
    margin:5px;

}
.burger{
    position:absolute;
    top: 0;
    padding:8px;
    margin:5px;
   display: flex;
   justify-content: right;
   width: 97.5%;
}
.section{
  padding: 10px;
  margin: 10px;
  background: linear-gradient(360deg,#ff9ce3,#8a2be2);
}
.section h2{
  text-align: center;
}
.web h3{
  padding-left: 8%;
}
.web p{
  text-align: center;

}
.button{
  color: white;
  margin-left:10% ;
  border-radius: 10%;
  background: linear-gradient(45deg,#6a5acd,#8a2be2);
  box-shadow: 10px 10px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.button:hover{
  transform: scale(1.2);
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);
  transition: 0.3s;
}
.about{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
  border-radius: 20px;
  padding: 40px;
    margin: auto;
    width: 60%;
    height:20%;
    background: radial-gradient(ellipse at center,#f4f4f4,#e6e6ff);
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   
}
.img img{
     width:150px;
     height:150px;
     border-radius: 50%;
     display: block;
     object-fit: cover;
     margin: auto;
      
}
.para p{
    font-size: 1.1rem;
    text-align: left;
    margin: auto;
    
}
.badges{
   margin: 10px;
}
.badges p{
 padding-top: 30px;
  padding-left: 30px;
   font-size:22px;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
   
}
.badges ul{
      display: grid;
      grid-template-columns: repeat(10,1fr);
      text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
      padding: 50px 80px;  
      list-style: none;  
}
.badges ul li::before{                    
  content: "\2726";
   padding-left:180px;
  transform: translateY(-50%);
  transform: translateX(-100%);
  
}
.badges ul li:hover::after{
  transform: scale(1.3);
  transition: 0.3s;
}
p{
  padding-left: 30px;
}
.whole{
  display: grid;
  height: 100%;
  width: 70%;
  grid-template-columns: repeat(1fr,1fr,1fr);
  text-align: center;
  margin: 0 auto;
}
.whole p,h3{
  color: black;

}
.pro{
   font-size:22px;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
.pro1{
  width: 100%;
  height: 200px;
  background:url(falooda.jpg) center/cover no-repeat;
  background-position: center top;
   border: 1px solid black;
}
.pro2{
   width: 100%;
  height: 200px;
  background:url(flower.jpg) center/cover no-repeat;
  background-position: center top;
  border: 1px solid black;
}
.pro3{
   width: 100%;
  height: 200px;
  background:url(nature.jpg) center/cover no-repeat;
  background-position: center top;
  border: 1px solid black;
}
.pro1:hover{
  transform: scale(1.3);
  transition: 0.3s;
   border: 3px solid black;
}
.pro2:hover{
  transform: scale(1.3);
  transition: 0.3s;
   border: 3px solid black;
}
.pro3:hover{
  transform: scale(1.3);
  transition: 0.3s;
   border: 3px solid black;
}

.pros:hover{
  transform: scale(1.7);
  transition: 0.3s;
  text-shadow: 2px 2px 5px black;
  border: 3px solid black;
}
.person{
   font-size:22px;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}
.both{             
  position: relative;           
  width: 100%;
  overflow: hidden; 
}
.form{                
  position: absolute;          
  width: 100%;
  height: 70%;
  inset: 0;  
  background-image: url(nature.jpg);
  background-position: center;
  background-size:cover;
  filter: blur(8px);
  z-index: -1; 
}
.detail{               
  z-index: 2;
  width: 100%;
  height: 70%;
  inset: 0;
  margin-top: 10%;
  display:inline-block;
  text-align:center;
  text-decoration: solid;
  color:white;
}
.detail label{
  font-size: larger ;
  width: 700px;
  font-weight: bold;
 padding: 20px;
}
.detail textarea{
  width: 200px;
  padding: 10px;
}
.sub{
  border-radius: 5px;
  background:linear-gradient(45deg,#f4f4f4,#ff9ce3);
  box-shadow: 10px 10px 6px rgba(0,0,0,0.3);

}
.sub:hover{
  transform: scale(1.9);
  transition: 0.7s;
}
.footer{
  padding-top: 30px;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
hr{
  width: 5px 0;

}
.foter{
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
    border: 1px solid black;
    background-color: #6a5acd;
}
@media(max-width:480px){
  .h1,p{
    font-size: 5vw;
  }
  .about{
    display:block;
  }
  .badges ul{
    display:block;
  }
}
@media(max-width:768px){
  .h1,p{
    font-size: 5vw;
  }
  .about{
    display:grid;
    grid-template-columns: repeat(2,1fr);
  }
  .badges ul{
     display:grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:1024px){
  .h1,p{
    font-size: 5vw;
  }
  .about{
    display:grid;
    grid-template-columns: repeat(4,1fr);
  }
  .badges ul{
     display:grid;
    grid-template-columns: repeat(4,1fr);
  }
}







